p::first-letter{
    color: yellowgreen;
    font-size: 40px;
}
p::first-line{
    color: orange;
    font-size: 40px;
}
p:nth-child(2){
    color: teal;
}
.name::after{
    content: "-Prajjval Mishra";
    color:tomato;
    
}