*{
    background-color: darkgoldenrod;
}
img{
    border-radius: 5px 5px 0px 0px;
    border: 5px solid black;
    padding: 20px;
    background-color: #fff;
}
.description{
    background-color: #fff;
    border-radius: 0px 0px 5px 5px;
    text-align: center;
    border: 5px solid black;
    height: 22.5%;
    width: 340.6px;
}
