*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
   font-family: 'Sans Pro', sans-serif ; 
}
.header{
    height: 20%;
    width: 100%;
    padding-left: 42%;
    padding-top: 5%;
    transition: 1s;
}
.header h1{
    font-size: 50px;
    padding-bottom: 1%;
}
.header h1:hover{
    color: red;
}
.header p{
    padding-left: 2%;
    font-size: 20px;
    color: gray;
}
.header p:hover{
    color: rgb(193, 193, 47);
}
.pic{
    /* height: 25%; */
    width: 100%;
   
}
.pic img{
    height: 500px;
    width: 88%;
    padding-left: 15%;
    padding-top: 2%;
    transition:  1s;
}
.pic img:hover{
    transform: scale(1.1);
}
.content{
    height: 30%;
    width: 85%;
}
.content p{
    padding-left: 18%;
    padding-top: 3%;
    letter-spacing: 2px;
    }
    .line{
        margin-top: 4%;
    }
    .pilgrims{
        height: 10%;
        width: 100%;
        padding-left: 8%;
        padding-top: 5%;
        font-size: 20px;
       
    }
    .pilgrim-img{
        display: flex;
        padding-left: 3%;
        padding-top: 2%;
        gap: 1%;
        position: relative;
       
    }
    .pilgrim-img p{
        position: absolute;
        top: 0px;
        margin-top: 16%;
        padding-left: 2%;
        color: #fff;
        font-size: 30px;
        font-weight:600;
    }
    .pg1 img {
        transition: 1s;
    }
    .pg1 img:hover{
        transform:scale(1.1);}
    
    .plan{
        height: 20vh;
        width: fit-content;
       }
    .plan h1{
        margin-left: 10%;
        font-weight: bold;
        font-size: 40px;
        line-height: 80px;
    } 
     .plan p{
        margin-left: 10%;
    }
    .plan-img{
        height: max-content;
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
       margin-left: 2%;
       object-fit: cover;
        margin-left: 4%;
        gap: 2%;
        position: relative;
    }
     .B1{
        height: 80vh;
        width: 20%;
        }
        .B1 img{
            height: 500px;
            width: 100%;
            transition: 1s;
        }
        .B1 img:hover{
            transform: scale(1.1);
        }
        .B1 p{
            position: absolute;
            top: 0px;
            margin-top: 29%;
            color: #fff;
            font-size: 30px;
            padding-left: 1%;
        }
        .gallery{
          height: 40vh; 
          width: 100vw;
        }
        .images{
            height: 80vh;
            /* width:100vw; */
            background-color:white;
            display: grid;
            grid-template-rows: repeat(2,50%);
            grid-template-columns: repeat(4,22%);
            /* padding: 250px; */
           margin-left: 3%;
          
           }
           .a:hover{
            filter: brightness(50%);
           }
           .gallery h1{
            padding-left: 50px;
            padding-bottom: 7px;
            font-size:40px ;
           }
           .gallery p{
            padding-left: 50px;
            font-size: 25px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
           padding-bottom: 15px;
        }
        /* .a{
            background-image: url("https://www.tamilnadutourism.tn.gov.in/img/pages/mobile/coonoor-1654194222_437c2736004171fc00c7.webp");
            background-size: 100% 100%;
            background-repeat: no-repeat;
         */
        .img1{
            background-image: url("https://www.tamilnadutourism.tn.gov.in/img/pages/mobile/coonoor-1654194222_437c2736004171fc00c7.webp");
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
        .img2{
            background-image: url("https://www.tamilnadutourism.tn.gov.in/img/pages/mobile/dharmapuri-1654194400_ff84d8848ef8766b3b01.webp");
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
        .img3{
            background-image: url("https://www.tamilnadutourism.tn.gov.in/img/pages/mobile/gangaikonda-cholapuram-1654195058_436ad44603abd6eceda2.webp");
            background-size: 100% 100%;
            background-repeat: no-repeat;
            grid-row-start: 1;
            grid-row-end: 3;
            grid-column-start: 3;
            grid-column-end:5 ;
        }
        .img4{
            background-image: url("https://www.tamilnadutourism.tn.gov.in/img/pages/mobile/dindigul-fort-1654194717_5c42758373157f82f603.webp");
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
        .img5{
            background-image: url("https://www.tamilnadutourism.tn.gov.in/img/pages/mobile/dindigul-1654194901_460598ffb1f8a139be69.webp");
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
        
        